{% extends 'base.html.twig' %}

{% block title %}ePicery - Création de compte
{% endblock %}

{% block body %}

	<div class="login" id="sign-in">
		<div class="login__content">
			<div class="login__forms" id="registerform">
            <div class="login__register">
				<h1 class="login__title">Création d'un compte</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email, 
        ) }}
				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.firstname) }}
				{{ form_row(registrationForm.phone) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="login__button">Créer</button>
				{{ form_end(registrationForm) }}
                </div>
			</div>
		</div>
	</div>
{% endblock %}
